%nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .navbar-brand= link_to "CHANGEME", root_path
  #navbar-collapse.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      = nav_link 'home', root-path
      - if current_user  
        %li= link_to "Log out", destroy_user_session_path, method: :delete
      - else
        %li= link_to "Login", new_user_session_path
        %li= link_to "Register", new_user_registration_path

